.comment {
  border-bottom: 1px solid #ddd;
  padding: 0.5rem 0;
}

.comment strong {
  color: #6c63ff;
}

.btn-comment {
  background: #6c63ff;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}


/* #0f172a